body {
    background-color: #1a1a1a;
    color: #cccccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
}
h1 {
    color: #7c9bff;
}

.menuContainer {
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    flex-wrap: wrap;
}
.menuContainer .menuItem a {
    text-decoration: none;
    color: #7c9bff;
    transition: all .2s ease-in-out;
    padding: 10px 20px;
}

.menuContainer .menuItem a:hover {
    color: #cab5ff;
}
